.App {
  text-align: center;
}
  
ul{
  list-style: none;
}

li{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
}

.red{
  color: red;
  cursor: pointer;
}

.writing{
  margin-top: 100px;
  margin-right: 0;
  height: 40px;
  outline: none;
  border: 1px black solid;
  padding: 0 10px;
  font-size: 14px;
}

button{
  border: 1px black solid;
  border-left: 0;
  outline: none;
  height: 42px;
  cursor: pointer;
  margin: 0;
  font-size: 14px;
  font-weight: 500;
  background-color: rgb(136, 252, 152);
}

button:hover{
  background-color: chartreuse;
}

.checkbox{
  cursor: pointer;
  margin-top: 7px;
}